h1 {
  text-align: center;
}

body {
  background-color: #EEF3E2;
  font-family: Helvetica;
}

#board {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

td {
  font-size: 80px;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
}

#reset {
  font-size: 25px;
  margin-top: 40px;
}

#button {
  text-align: center;
}