body {
  background-color: #EEF3E2;
  font-size: 80px;
  font-family: Helvetica;
}

#board {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

td {
  background-color: white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
}

#reset {
  margin-left: 200px;
  font-size: 30px;
}